{% extends "base.html" %}

{% block title %}

Create Ride

{% endblock %}

{% block content %}

<div class="container mt-5">

    <h2>Create Ride Request</h2>

    <form method="POST">

        {% csrf_token %}

        <div class="mb-3">
            <label>Pickup Location</label>

            <input
                type="text"
                name="pickup"
                class="form-control"
                required
            >
        </div>

        <div class="mb-3">
            <label>Drop Location</label>

            <input
                type="text"
                name="drop"
                class="form-control"
                required
            >
        </div>

        <div class="mb-3">
            <label>Pickup Time</label>

            <input
                type="datetime-local"
                name="pickup_time"
                class="form-control"
                required
            >
        </div>

        <button class="btn btn-primary">
            Submit Ride
        </button>

    </form>

</div>


{% endblock %}